name: Deploy to AWS

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::173148968885:role/EC2SSMRole

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $REGISTRY/networking-ca:$IMAGE_TAG .
          docker push $REGISTRY/networking-ca:$IMAGE_TAG
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Authenticating to ECR..."
            aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin $REGISTRY

            echo "Stopping old container..."
            docker stop web || true
            docker rm web || true

            echo "Running new container..."
            docker run -d --name web -p 80:80 $REGISTRY/networking-ca:${{ env.IMAGE_TAG }}
